<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center pageTitle ng-scope">
   <h1>{{pageTitle}}</h1>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center pageTitle marginBottom20">
   <ol class="breadcrumb">
      <li><a ui-sref="/">Home</a></li>
      <li><a ui-sref="/EmployeeDetails">Employee</a></li>
      <li class="active">{{pageTitle}}</li>
   </ol>
</div>
<form name="addEmployeeForm" class="form" method="POST" novalidate="novalidate">
   <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form">
      <div class="field">
         <label ng-show="addEmployee.employeeFirstName" class="show-hide">Employee First Name*</label>
         <input type="text" placeholder="Employee First Name*" class="form-control" name="employeeFirstName" ng-model="addEmployee.employeeFirstName" ng-required="true" ng-class="{blankInput: addEmployeeForm.employeeFirstName.$error.required &amp;&amp; submit}"/>
      </div>
      <div>
         <input type="text" placeholder="Employee Middle Name" class="form-control" name="employeeMiddleName" ng-model="addEmployee.employeeMiddleName"/>
      </div>
      <div>
         <input type="text" placeholder="Employee Last Name*" class="form-control" name="employeeLastName" ng-model="addEmployee.employeeLastName" ng-required="true" ng-class="{blankInput: addEmployeeForm.employeeLastName.$error.required &amp;&amp; submit}"/>
      </div>
      <div>
         <input type="text" placeholder="Email *" class="form-control"  name="employeeEmail" ng-model="addEmployee.employeeEmail" ng-required="true" ng-class="{blankInput: addEmployeeForm.employeeEmail.$error.required &amp;&amp; submit}"/>
      </div>
      <div>
         <input type="password" placeholder="Password*" class="form-control" name="employeePassword" ng-model="addEmployee.employeePassword" ng-required="true" ng-class="{blankInput: addEmployeeForm.employeePassword.$error.required &amp;&amp; submit}"/>
      </div>
      <div>
         <input type="number" placeholder="Mobile Number*" class="form-control" name="employeeMobileNumber" ng-model="addEmployee.employeeMobileNumber" ng-required="true" ng-class="{blankInput: addEmployeeForm.employeeMobileNumber.$error.required &amp;&amp; submit}"/>
      </div>
      <div>
         <input type="number" placeholder="Alternate Number 1" class="form-control" name="employeeAlternateNumber1" ng-model="addEmployee.employeeAlternateNumber1"/>
      </div>
      <div>
         <input type="text" placeholder="Adress*" class="form-control" name="employeeAddress" ng-model="addEmployee.employeeAddress" ng-required="true" ng-class="{blankInput: addEmployeeForm.employeeAddress.$error.required &amp;&amp; submit}"/>
      </div>
      <div>
         <input type="text" placeholder="D.O.B. (YYYY-MM-DD) *" class="form-control"  name="employeeDob" ng-model="addEmployee.employeeDob" ng-required="true" ng-class="{blankInput: addEmployeeForm.employeeDob.$error.required &amp;&amp; submit}"/>
      </div>
      <div>
         <input type="text" placeholder="Date of Joining (YYYY-MM-DD) *" class="form-control"  name="employeeDoj" ng-model="addEmployee.employeeDoj" ng-required="true" ng-class="{blankInput: addEmployeeForm.employeeDoj.$error.required &amp;&amp; submit}"/>
      </div>
      <div>
         <input type="text" placeholder="Alternate Email" class="form-control" name="employeeAlternateEmail" ng-model="addEmployee.employeeAlternateEmail"/>
      </div>
      <div>
         <input type="text" placeholder="Hobbies *" class="form-control" name="employeeHobbies" ng-model="addEmployee.employeeHobbies" ng-required="true" ng-class="{blankInput: addEmployeeForm.employeeHobbies.$error.required &amp;&amp; submit}"/>
      </div>
      <div>
         <input type="text" placeholder="Reference 1 Name *" class="form-control" name="employeeReference1Name" ng-model="addEmployee.employeeReference1Name" ng-required="true" ng-class="{blankInput: addEmployeeForm.employeeReference1Name.$error.required &amp;&amp; submit}"/>
      </div>
      <div>
         <input type="text" placeholder="Reference 1 Contact Number *" class="form-control" name="employeeReference1ContactNumber" ng-model="addEmployee.employeeReference1ContactNumber" ng-required="true" ng-class="{blankInput: addEmployeeForm.employeeReference1ContactNumber.$error.required &amp;&amp; submit}"/>
      </div>
      <div>
         <input type="email" placeholder="Reference 1 Email Address *" class="form-control" name="employeeReference1Email" ng-model="addEmployee.employeeReference1Email" ng-required="true" ng-class="{blankInput: addEmployeeForm.employeeReference1Email.$error.required &amp;&amp; submit}"/>
      </div>
      <div>
         <input type="text" placeholder="Reference 1 Address *" class="form-control" name="employeeReference1Address" ng-model="addEmployee.employeeReference1Address" ng-required="true" ng-class="{blankInput: addEmployeeForm.employeeReference1Address.$error.required &amp;&amp; submit}"/>
      </div>
      <div>
         <input type="text" placeholder="Spouse Name *" class="form-control" name="employeeSpouseName" ng-model="addEmployee.employeeSpouseName" ng-required="true" ng-class="{blankInput: addEmployeeForm.employeeSpouseName.$error.required &amp;&amp; submit}"/>
      </div>
      <div>
         <input type="text" placeholder="Spouse D.O.B. (YYYY-MM-DD) *" class="form-control" name="employeeSpouseDob" ng-model="addEmployee.employeeSpouseDob" ng-required="true" ng-class="{blankInput: addEmployeeForm.employeeSpouseDob.$error.required &amp;&amp; submit}"/>
      </div>
      <div>
         <input type="text" placeholder="Spouse Aadhar *" class="form-control" name="employeeSpouseAadhar" ng-model="addEmployee.employeeSpouseAadhar" ng-required="true" ng-class="{blankInput: addEmployeeForm.employeeSpouseAadhar.$error.required &amp;&amp; submit}"/>
      </div>
      <div>
         <input type="text" placeholder="Spouse Pan *" class="form-control" name="employeeSpousePan" ng-model="addEmployee.employeeSpousePan" ng-required="true" ng-class="{blankInput: addEmployeeForm.employeeSpousePan.$error.required &amp;&amp; submit}"/>
      </div>
   </div>
   <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form">
      <div>
         <select class="form-control" name="employeeDepartment" ng-model="addEmployee.employeeDepartment" ng-required="true" ng-class="{blankInput: addEmployeeForm.employeeDepartment.$error.required &amp;&amp; submit}">
            <option value="">
               Select Department
            </option>
            <option ng-repeat="x in parentDepartmentList" value="{{x.dept_id}}">
               {{x.dept_name}}
            </option>
         </select>
      </div>
      <div>
         <select class="form-control" name="employeeDesignation" ng-model="addEmployee.employeeDesignation" ng-required="true" ng-class="{blankInput: addEmployeeForm.employeeDesignation.$error.required &amp;&amp; submit}">
            <option value="">
               Select designation
            </option>
            <option ng-repeat="x in designationList" value="{{x.designation_id}}">
               {{x.designation}}
            </option>
         </select>
      </div>
      <div>
         <input type="text" placeholder="Pan Number *" class="form-control" name="employeePanNumber" ng-model="addEmployee.employeePanNumber" ng-required="true" ng-class="{blankInput: addEmployeeForm.employeePanNumber.$error.required &amp;&amp; submit}"/>
      </div>
      <div>
         <input type="number" placeholder="Aadhar Number *" class="form-control" name="employeeAadharNumber" ng-model="addEmployee.employeeAadharNumber" ng-required="true" ng-class="{blankInput: addEmployeeForm.employeeAadharNumber.$error.required &amp;&amp; submit}"/>
      </div>
      <div>
         <input type="number" placeholder="C.T.C *" class="form-control" name="employeeCtc" ng-model="addEmployee.employeeCtc" ng-required="true" ng-class="{blankInput: addEmployeeForm.employeeCtc.$error.required &amp;&amp; submit}"/>
      </div>
      <div>
         <input type="number" placeholder="Net Salary *" class="form-control" name="employeeNetSalary" ng-model="addEmployee.employeeNetSalary" ng-required="true" ng-class="{blankInput: addEmployeeForm.employeeNetSalary.$error.required &amp;&amp; submit}"/>
      </div>
      <!--<div>
         <input type="text" placeholder="Designation *" class="form-control" name="employeeDesignation" ng-model="addEmployee.employeeDesignation" ng-required="true" ng-class="{blankInput: addEmployeeForm.employeeDesignation.$error.required &amp;&amp; submit}"/>
      </div>-->
      <div>
         <input type="text" placeholder="Bank Name *" class="form-control" name="employeeBankName" ng-model="addEmployee.employeeBankName" ng-required="true" ng-class="{blankInput: addEmployeeForm.employeeBankName.$error.required &amp;&amp; submit}"/>
      </div>
      <div>
         <input type="text" placeholder="Bank Branch *" class="form-control" name="employeeBankBranch" ng-model="addEmployee.employeeBankBranch" ng-required="true" ng-class="{blankInput: addEmployeeForm.employeeBankBranch.$error.required &amp;&amp; submit}"/>
      </div>
      <div>
         <input type="text" placeholder="Bank Account Number *" class="form-control" name="employeeBankAccountNo" ng-model="addEmployee.employeeBankAccountNo" ng-required="true" ng-class="{blankInput: addEmployeeForm.employeeBankAccountNo.$error.required &amp;&amp; submit}"/>
      </div>
      <div>
         <input type="text" placeholder="Bank Address *" class="form-control" name="employeeBankAddress" ng-model="addEmployee.employeeBankAddress" ng-required="true" ng-class="{blankInput: addEmployeeForm.employeeBankAddress.$error.required &amp;&amp; submit}"/>
      </div>
      <div>
         <input type="text" placeholder="Bank Ifsc Code *" class="form-control" name="employeeBankIfscCode" ng-model="addEmployee.employeeBankIfscCode" ng-required="true" ng-class="{blankInput: addEmployeeForm.employeeBankIfscCode.$error.required &amp;&amp; submit}"/>
      </div>
      <div>
         <input type="text" placeholder="Reference 2 Name *" class="form-control" name="employeeReference2Name" ng-model="addEmployee.employeeReference2Name" ng-required="true" ng-class="{blankInput: addEmployeeForm.employeeReference2Name.$error.required &amp;&amp; submit}"/>
      </div>
      <div>
         <input type="text" placeholder="Reference 2 Contact Number *" class="form-control" name="employeeReference2ContactNumber" ng-model="addEmployee.employeeReference2ContactNumber" ng-required="true" ng-class="{blankInput: addEmployeeForm.employeeReference2ContactNumber.$error.required &amp;&amp; submit}"/>
      </div>
      <div>
         <input type="email" placeholder="Reference 2 Email Address *" class="form-control" name="employeeReference2Email" ng-model="addEmployee.employeeReference2Email" ng-required="true" ng-class="{blankInput: addEmployeeForm.employeeReference2Email.$error.required &amp;&amp; submit}"/>
      </div>
      <div>
         <input type="text" placeholder="Reference 2 Address *" class="form-control" name="employeeReference2Address" ng-model="addEmployee.employeeReference2Address" ng-required="true" ng-class="{blankInput: addEmployeeForm.employeeReference2Address.$error.required &amp;&amp; submit}"/>
      </div>
      <div>
         <input type="text" placeholder="Source Of Recruitment *" class="form-control" name="employeeSourceOfRecruit" ng-model="addEmployee.employeeSourceOfRecruit" ng-required="true" ng-class="{blankInput: addEmployeeForm.employeeSourceOfRecruit.$error.required &amp;&amp; submit}"/>
      </div>
      <div>
         <select class="form-control" name="employeeChildrenNo" ng-model="addEmployee.employeeChildrenNo" title="No. of Children" ng-change="appendFields(addEmployee.employeeChildrenNo)" ng-required="true" ng-class="{blankInput: addEmployeeForm.employeeChildrenNo.$error.required &amp;&amp; submit}">
            <option value="">
               No. of Children
            </option>
            <option value="1">
               1
            </option>
            <option value="2">
               2
            </option>
            <option value="3">
               3
            </option>
            <option value="4">
               4
            </option>
         </select>
      </div>
      <div id="children"></div>
   </div>
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
      <button type="button" class="btn btn-success" ng-click="addEmployee(addEmployee,'addEmployeeForm')" ng-show="addEmployeeBtn">Save Employee</button>
      <button type="button" class="btn btn-success" ng-click="editEmployee(addEmployee,'addEmployeeForm')" ng-show="editEmployeeBtn">Update Employee</button>
   </div>
</form>