<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center pageTitle">
   <h1>{{pageTitle}}</h1>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center pageTitle marginBottom20">
   <ol class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li><a ui-sref="/SalaryComponentDetails">Salary Component Details</a></li>
	   <li class="active">{{pageTitle}}</li>
   </ol>
</div>
<div class="col-lg-3 col-md-3 col-sm-3 hidden-xs"></div>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
	<form name="addSalaryComponentForm" class="form" method="POST" novalidate="novalidate">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 labelCntr">
				<label for="projectName">Salary Component Name</label>
			</div>
			<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 padding0">
				<input type="text" class="form-control" id="salaryComponentName" name="salaryComponentName" ng-model="addSalaryComponent.salaryComponentName" ng-required="true" ng-class="{blankInput: addSalaryComponentForm.salaryComponentName.$error.required &amp;&amp; submit}" autofocus/>
			</div>
		</div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 labelCntr">
				<label for="projectName">Abbreviation / Code</label>
			</div>
			<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 padding0">
				<input type="text" class="form-control" id="salaryAbbreviation" name="salaryAbbreviation" ng-model="addSalaryComponent.salaryAbbreviation" ng-required="true" ng-class="{blankInput: addSalaryComponentForm.salaryAbbreviation.$error.required &amp;&amp; submit}" autofocus/>
			</div>
		</div>
        
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 labelCntr">
				<label for="projectName">Pay Type</label>
			</div>
			<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 padding0">
                <select class="form-control" name="salaryPayType" ng-model="addSalaryComponent.salaryPayType" title="No. of Children" ng-required="true" ng-class="{blankInput: addSalaryComponentForm.salaryPayType.$error.required &amp;&amp; submit}">
                    <option value="">
                        Pay Type
                    </option>
                    <option value="1">
                        Earnings
                    </option>
                    <option value="0">
                        Deduction
                    </option>
                </select>
			</div>
		</div>
        
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 labelCntr">
				<label for="projectName">Tax Status</label>
			</div>
			<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 padding0" ng-class="{blankInput: addSalaryComponentForm.salaryTaxStatus.$error.required &amp;&amp; submit}">
                <input type="radio" name="salaryTaxStatus" ng-model="addSalaryComponent.salaryTaxStatus" ng-required="true" id="taxable" value="0"/>
                <label for="taxable">Taxable</label> <span>|</span>
                <input type="radio" name="salaryTaxStatus" ng-model="addSalaryComponent.salaryTaxStatus" ng-required="true" id="nonTaxable" value="1"/>
                <label for="nonTaxable">Non - Taxable</label>
            </div>
		</div>
	</form>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right padding0 marginTop10">
        <button type="button" ng-show="addSalaryComponentBtn" class="btn btn-success" ng-click="addSalaryComponent(addSalaryComponent,'addSalaryComponentForm')">Save</button>
        <button type="button" ng-show="editSalaryComponentBtn" class="btn btn-success" ng-click="editSalaryComponentForm(addSalaryComponent,'addSalaryComponentForm')">Update & Save</button>
    </div>
</div>