<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center pageTitle">
   <h1>{{pageTitle}}</h1>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center pageTitle marginBottom20">
   <ol class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li><a ui-sref="/Phases">Phases</a></li>
      <li class="active">{{pageTitle}}</li>
   </ol>
</div>
<form name="addUnitForm" class="form" method="POST" novalidate="novalidate">
   <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0 radioLabel">
         <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 labelCntr">
            <label for="type">Ownership</label>
         </div>
         <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 padding0 radioLabel">
            <input type="radio" name="ownerShipType" ng-model="addUnit.ownerShipType" id="ownLand" value="0"/>
            <label for="ownLand">Own Land</label>
            <input type="radio" name="ownerShipType" ng-model="addUnit.ownerShipType" id="joinDev" value="1"/>
            <label for="joinDev">Join Development</label>
         </div>
      </div>
      <!--
         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" ng-show="ownerShipType == '1'">
         	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 labelCntr">
         		<label for="type">No. of Owners</label>
         	</div>
         	<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 padding0">
                           <select name="noOfOwners" class="form-control">
         				<option value="">Please Select</option>
         				<option value="2">2</option>
         				<option value="3">3</option>
         				<option value="4">4</option>
         			</select>
         	</div>
         </div>
         -->
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
         <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 labelCntr">
            <label for="type">Owner Name</label>
         </div>
         <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 padding0">
            <input type="text" class="form-control" placeholder="Owner Name"/>
         </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
         <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 labelCntr">
            <label for="type">S/O - W/O - D/O</label>
         </div>
         <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 padding0">
            <input type="text" class="form-control" placeholder="Enter Name"/>
         </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
         <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 labelCntr">
            <label for="type">D.O.B</label>
         </div>
         <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 padding0">
            <input type="text" class="form-control" placeholder="D.O.B"/>
         </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
         <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 labelCntr">
            <label for="type">Address</label>
         </div>
         <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 padding0">
            <input type="text" class="form-control" placeholder="Address"/>
         </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
         <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 labelCntr">
            <label for="type">PAN</label>
         </div>
         <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 padding0">
            <input type="text" class="form-control" placeholder="PAN"/>
         </div>
      </div>
       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 labelCntr">
               <label for="type">Minor</label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 padding0 radioLabel">
               <input type="radio" name="minor" ng-model="addUnit.minor" id="minorNo" value="0"/>
               <label for="minorNo">No</label>
               <input type="radio" name="minor" ng-model="addUnit.minor" id="minorYes" value="1"/>
               <label for="minorYes">Yes</label>
            </div>
         </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" ng-show="addUnit.minor == '1'">
         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 labelCntr">
               <label for="type">Guardian Name</label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 padding0">
               <input type="text" class="form-control" placeholder="Guardian Name"/>
            </div>
         </div>
         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 labelCntr">
               <label for="type">S/O - W/O - D/O</label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 padding0">
               <input type="text" class="form-control" placeholder="S/O - W/O - D/O"/>
            </div>
         </div>
         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 labelCntr">
               <label for="type">D.O.B</label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 padding0">
               <input type="text" class="form-control" placeholder="D.O.B"/>
            </div>
         </div>
         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 labelCntr">
               <label for="type">Address</label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 padding0">
               <input type="text" class="form-control" placeholder="Address"/>
            </div>
         </div>
         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 labelCntr">
               <label for="type">PAN</label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 padding0">
               <input type="text" class="form-control" placeholder="PAN"/>
            </div>
         </div>
         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 labelCntr">
               <label for="type">Relationship with Minor</label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 padding0">
               <input type="text" class="form-control" placeholder="Relationship with Minor"/>
            </div>
         </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
         <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 labelCntr">
            <label for="type">Total Land Area<br/>(Survey Numberwise)</label>
         </div>
         <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 padding0">
            <input type="text" class="form-control" placeholder="Total Land Area (Survey Numberwise)"/>
         </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
         <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 labelCntr">
            <label for="type">Total Hyne Area<br/>(Survey Numberwise)</label>
         </div>
         <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 padding0">
            <input type="text" class="form-control" placeholder="Total Land Area (Survey Numberwise)"/>
         </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
         <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 labelCntr">
            <label for="type">Total Karab Area<br/>(Survey Numberwise)</label>
         </div>
         <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 padding0">
            <input type="text" class="form-control" placeholder="Total Land Area (Survey Numberwise)"/>
         </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
         <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 labelCntr">
            <label for="type">Project Stage</label>
         </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
         <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 labelCntr">
            <label for="type">Land Converted?</label>
         </div>
         <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 padding0 radioLabel">
            <input type="radio" name="landConverted" ng-model="addUnit.landConverted" id="landConvertedYes" value="1"/>
            <label for="landConvertedYes">Yes</label>
            <input type="radio" name="landConverted" ng-model="addUnit.landConverted" id="landConvertedNo" value="0"/>
            <label for="landConvertedNo">No</label>
         </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" ng-show="addUnit.landConverted == '1'">
         <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 labelCntr">
            <label for="type">Conversion Order Document Number</label>
         </div>
         <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 padding0">
            <input type="text" class="form-control" placeholder="Conversion Order Document Number"/>
         </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" ng-show="addUnit.landConverted == '1'">
         <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 labelCntr">
            <label for="type">Conversion Order Date</label>
         </div>
         <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 padding0">
            <input type="text" class="form-control" placeholder="Conversion Order Date"/>
         </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
         <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 labelCntr">
            <label for="type">Plan Approved?</label>
         </div>
         <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 padding0 radioLabel">
            <input type="radio" name="planApproved" ng-model="addUnit.planApproved" id="planApprovedYes" value="1"/>
            <label for="planApprovedYes">Yes</label>
            <input type="radio" name="planApproved" ng-model="addUnit.planApproved" id="planApprovedNo" value="0"/>
            <label for="planApprovedNo">No</label>
         </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" ng-show="addUnit.planApproved == '1'">
         <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 labelCntr">
            <label for="type">Plan Approval Number</label>
         </div>
         <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 padding0">
            <input type="text" class="form-control" placeholder="Plan Approval Number"/>
         </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" ng-show="addUnit.planApproved == '1'">
         <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 labelCntr">
            <label for="type">Plan Approval Date</label>
         </div>
         <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 padding0">
            <input type="text" class="form-control" placeholder="Plan Approval Date"/>
         </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" ng-show="addUnit.planApproved == '1'">
         <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 labelCntr">
            <label for="type">Plan Approval Authority</label>
         </div>
         <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 padding0">
            <input type="text" class="form-control" placeholder="Plan Approval Authority"/>
         </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
         <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 labelCntr">
            <label for="type">NOC Obtained</label>
         </div>
         <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 padding0 radioLabel">
            <input type="radio" name="nocObtained" ng-model="addUnit.nocObtained" id="nocObtainedYes" value="1"/>
            <label for="nocObtainedYes">Yes</label>
            <input type="radio" name="nocObtained" ng-model="addUnit.nocObtained" id="nocObtainedNo" value="0"/>
            <label for="nocObtainedNo">No</label>
         </div>
      </div>
   </div>
   <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
         <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 labelCntr">
            <label for="type">Relinquish</label>
         </div>
         <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 padding0 radioLabel">
            <input type="radio" name="relinquish" ng-model="addUnit.relinquish" id="relinquishYes" value="1"/>
            <label for="relinquishYes">Yes</label>
            <input type="radio" name="relinquish" ng-model="addUnit.relinquish" id="relinquishNo" value="0"/>
            <label for="relinquishNo">No</label>
         </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" ng-show="addUnit.relinquish == '1'">
         <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 labelCntr">
            <label for="type">Document Number and Date</label>
         </div>
         <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 padding0">
            <input type="text" class="form-control" placeholder="Document Number and Date"/>
         </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
         <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 labelCntr">
            <label for="type">Total Saleable Area</label>
         </div>
         <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 padding0">
            <input type="text" class="form-control" placeholder="Total Saleable Area"/>
         </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
         <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 labelCntr">
            <label for="type">Total Plots</label>
         </div>
         <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 padding0">
            <input type="text" class="form-control" placeholder="Total Plots"/>
         </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
         <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 labelCntr">
            <label for="type">Area of Roads</label>
         </div>
         <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 padding0">
            <input type="text" class="form-control" placeholder="Area of Roads"/>
         </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
         <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 labelCntr">
            <label for="type">Area for Civic Amenities</label>
         </div>
         <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 padding0">
            <input type="text" class="form-control" placeholder="Area of Parks"/>
         </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
         <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 labelCntr">
            <label for="type">Super Built-up Area</label>
         </div>
         <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 padding0">
            <input type="text" class="form-control" placeholder="Area of Parks"/>
         </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
         <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 labelCntr">
            <label for="type">Garden Area</label>
         </div>
         <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 padding0">
            <input type="text" class="form-control" placeholder="Area of Parks"/>
         </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
         <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 labelCntr">
            <label for="type">Terrace Area</label>
         </div>
         <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 padding0">
            <input type="text" class="form-control" placeholder="Area of Parks"/>
         </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
         <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 labelCntr">
            <label for="type">Terrace Garden</label>
         </div>
         <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 padding0">
            <input type="text" class="form-control" placeholder="Area of Parks"/>
         </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
         <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 labelCntr">
            <label for="type">Carpet Area</label>
         </div>
         <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 padding0">
            <input type="text" class="form-control" placeholder="Carpet Area"/>
         </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
         <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 labelCntr">
            <label for="type">Plinth Area</label>
         </div>
         <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 padding0">
            <input type="text" class="form-control" placeholder="Area of Parks"/>
         </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
         <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 labelCntr">
            <label for="type">No. of Floors</label>
         </div>
         <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 padding0">
            <input type="text" class="form-control" placeholder="No. of Floors"/>
         </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
         <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 labelCntr">
            <label for="type">No. of Bedrooms</label>
         </div>
         <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 padding0">
            <input type="text" class="form-control" placeholder="No. of Bedrooms"/>
         </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
         <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 labelCntr">
            <label for="type">Common Bathrooms</label>
         </div>
         <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 padding0">
            <input type="text" class="form-control" placeholder="Common Bathrooms"/>
         </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
         <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 labelCntr">
            <label for="type">Attached Bathrooms</label>
         </div>
         <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 padding0">
            <input type="text" class="form-control" placeholder="Attached Bathrooms"/>
         </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
         <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 labelCntr">
            <label for="type">Servant Room</label>
         </div>
         <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 padding0">
            <input type="text" class="form-control" placeholder="Servant Room"/>
         </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
         <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 labelCntr">
            <label for="type">Car Parking Area</label>
         </div>
         <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 padding0">
            <input type="text" class="form-control" placeholder="Car Parking Area"/>
         </div>
      </div>
   </div>
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0 text-center">
      <button type="button" class="btn btn-success" ng-click="savePhaseData()">Save Details</button>
   </div>
</form>