<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center pageTitle ng-scope">
   <h1>{{pageTitle}}</h1>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center pageTitle marginBottom20">
   <ol class="breadcrumb">
       <li><a ui-sref="/">Home</a></li>      
      <li class="active">{{pageTitle}}</li>
   </ol>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right ctaContainer">
	<a ui-sref="/CreateNewRule" class="btn btn-primary">+ Create New Rule</a>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<table class="table dataTable">
		<thead>
			<tr>
				<th>#</th>
				<th>Rule Name</th>
				<th>Affected Modules</th>
				<th>What Should Happen</th>
				<th>Whom (Email / Mobile Recipients)</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="x in alertRules | filter:searchLead track by $index">
				<td>{{$index + 1}}</td>
				<td>{{x.name}}</td>
				<td><span ng-repeat="module in x.modules">{{module}} </span></td>
                <td><span ng-repeat="act in x.action">{{act}} </span></td>
				<td>{{x.audience}}</td>
				<td><a><span class="link">Edit</span></a></td>
			</tr>
		</tbody>
	</table>
</div>