<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center pageTitle">
   <h1>{{title}}</h1>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center pageTitle marginBottom20">
   <ol class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li class="active">{{title}}</li>
   </ol>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right marginBottom20">
   <a ui-sref="/CostSheetTemplate" class="btn btn-primary">Create New Cost Sheet Template</a>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
   <table class="table borderDef">
      <thead>
         <tr>
            <th>#</th>
            <th>Cost Sheet Template Name</th>
            <th class="text-center">Actual Cost / Sq. Ft.</th>
            <th class="text-right">Action</th>
         </tr>
      </thead>
      <tbody>
         <tr ng-repeat="x in costSheetTemplates track by $index">
            <td>{{$index+1}}</td>
            <td>{{x.untctcm_templname}}</td>
            <td class="text-center">{{x.untctcm_Cost}}</td>
            <td class="text-right">
               <a class="link" ng-click="showTemplateDetails(x)">View Details</a>
            </td>
         </tr>
      </tbody>
   </table>
</div>
<script type="text/ng-template" id="costSheetDetail.html">
   <div class="modal-header">
   <button type="button" class="close" ng-click="ok()">&times;</button>
       <h3 class="modal-title" id="modal-title">
   {{costSheetDetail.untctcm_templname}} - INR {{costSheetDetail.untctcm_Cost}} / Sq. FT.
   </h3>
   </div>
   <div class="modal-body" id="modal-body">
   <table class="table borderDef">
   <thead>
   <tr>
   <th>Cost Component Code</th>
   <th>Cost Component Name</th>
   <th>Calculation Type</th>
   <th>Value</th>
   </tr>
   </thead>
   <tbody>
   <tr>
   <td>
   {{costSheetDetail.untctcm_code1}}
   </td>
   <td>
   {{costSheetDetail.untctcm_name1}}
   </td>
   <td>
   {{costSheetDetail.untctcm_calctyp1}}
   </td>
   <td>
   {{costSheetDetail.untctcm_val_formula1}}
   </td>
   </tr>
   <tr>
   <td>
   {{costSheetDetail.untctcm_code2}}
   </td>
   <td>
   {{costSheetDetail.untctcm_name2}}
   </td>
   <td>
   {{costSheetDetail.untctcm_calctyp2}}
   </td>
   <td>
   {{costSheetDetail.untctcm_val_formula2}}
   </td>
   </tr>
   <tr>
   <td>
   {{costSheetDetail.untctcm_code3}}
   </td>
   <td>
   {{costSheetDetail.untctcm_name3}}
   </td>
   <td>
   {{costSheetDetail.untctcm_calctyp3}}
   </td>
   <td>
   {{costSheetDetail.untctcm_val_formula3}}
   </td>
   </tr>
   </tbody>
   </table>
   </div>
   <div class="modal-footer">
       <button class="btn btn-primary" type="button" ng-click="ok()">Done</button>
   </div>
</script>