<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center pageTitle ng-scope">
   <h1>Payment Schedule</h1>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center pageTitle marginBottom20 ng-scope">
   <ol class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li><a>Scope</a></li>
      <li class="active">Payment Schedule</li>
   </ol>
</div>
<div>
   <select ng-model="projectDetails.projectName" name="projectName" class="form-control" ng-change="phaseListFun(projectDetails.projectName)" autofocus="true">
      <option value="">
         Project
      </option>
      <option ng-repeat="x in projectList" value="{{x.ProjId}}">
         {{x.Proj_Name}}
      </option>
   </select>
</div>
<div>
   <select ng-model="projectDetails.phase" name="phase" class="form-control" ng-change="blockListFun(projectDetails.phase)">
      <option value="">
         Phase
      </option>
      <option ng-repeat="x in phaseList" value="{{x.Phase_Id}}">
         {{x.Phase_Name}}
      </option>
   </select>
</div>
<div class="divLabel">
   Type: <strong ng-model="projectDetails.flatType">{{flatType}}</strong>
</div>
<div>
   <select ng-model="projectDetails.blocks" name="blocks" class="form-control" ng-change="getPaymentScheduleList(projectDetails.blocks)">
      <option value="">
         Block
      </option>
      <option ng-repeat="x in blockList" value="{{x.Blocks_Id}}">
         {{x.Blocks_Name}}
      </option>
   </select>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
   <table class="table dataTable">
      <thead>
         <tr>
            <th>#</th>
            <th>Block Stage Name</th>
            <th>Payment Schedule Value</th>
         </tr>
      </thead>
      <tbody>
         <tr ng-repeat="x in paymentScheduleList track by $index">
            <td>{{$index + 1}}</td>
            <td>{{x.blockstageName}}</td>
            <td>{{x.PaymentScheduleCalcValue}}</td>
         </tr>
      </tbody>
   </table>
</div>
