<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center pageTitle">
	<h1>Prospects Listing</h1>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center pageTitle">
	<ol class="breadcrumb">
	  <li><a ui-sref="/">Home</a></li>
	  <li class="active">Propects</li>
	</ol>	
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right ctaContainer">
	<a ui-sref="/AddProspect" class="btn btn-primary">+ Add Prospect</a> | 
	<button type="button" class="btn btn-success">Import From CSV <span class="glyphicon glyphicon-import"></span></button> |
	<a href="#">Download Format <span class="glyphicon glyphicon-download-alt"></span></a>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <input type="text" class="form-control marginBottom5 search" placeholder="Search Propects" ng-model="searchLead"/>
	<table class="table dataTable">
		<thead>
			<tr>
				<th>#</th>
				<th>Name</th>
				<th>Assigned To</th>
				<th>Created Date</th>
				<th>Status</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="x in leads | filter:searchLead track by $index">
				<td>{{$index + 1}}</td>
				<td>{{x.user_first_name}} {{x.user_middle_name}} {{x.user_last_name}}</td>
				<td>Sales Team <span class="glyphicon glyphicon-circle-arrow-right"></span> Person</td>
                <td>{{x.registration_date | date:'yyyy-MM-dd'}}</td>
				<td><span class="link" ng-click="leadDetail($index)">View</span></td>
				<td>
                    <a ui-sref="/EditProspect({ leadID: {{x.user_id}} })"><span class="link">Edit</span></a> 
                    <span class="btn btn-primary" ng-click="addSiteVisit($index)">Add Site Visit</span>
                </td>
			</tr>
		</tbody>
	</table>
</div>
<script type="text/ng-template" id="leadDetail.html">
        <div class="modal-header">
			<button type="button" class="close" ng-click="ok()">&times;</button>
            <h3 class="modal-title" id="modal-title">{{lead.user_first_name}} {{lead.user_middle_name}} {{lead.user_last_name}} - <span>{{leadType[lead.user_lead_status_id-1]}}</span></h3>
        </div>
        <div class="modal-body" id="modal-body">
			<div class="subHeading">Contact Details</div>
			<table class="leadDetail">
				<tr>
					<td>Email ID:</td>
					<td>{{lead.user_email_address}}</td>
				</tr>
				<tr>
					<td>Mobile Number:</td>
					<td>{{lead.user_mobile_no}}</td>
				</tr>
				<tr ng-if="lead.user_dob !='0001-01-01T00:00:00'">
					<td>D.O.B:</td>
					<td>{{lead.user_dob | date}}</td>
				</tr>
				<tr>
					<td>City:</td>
					<td>{{cities[lead.user_city-1]}}</td>
				</tr>
            </table>
            <div class="col-md-12 padding0 marginBottom5">
                <div class="subHeading col-md-6 padding0">Projects</div>
                <div class="col-md-6 padding0 text-right">
                    <button class="btn btn-default" ng-click="addLeadProjects(lead.user_id)">Update Projects</button>
                </div>
            </div>
            <div ng-show="{{lead.userprojlist==null}}">This lead does not have any projects.</div>
			<div ng-show="{{lead.userprojlist!=null}}">
				<table class="table borderDef">
				   <thead>
					  <tr>
                         <th>Project</th>
						 <th>Phase</th>
						 <th>Type</th>
						 <th>Block</th>
						 <th>Unit</th>
					  </tr>
				   </thead>
				   <tbody id="projectList">
					  <tr ng-repeat = "unit in leadProjects track by $index" id="{{unit.UnitDtls_Id}}">
						 <td>{{unit.Proj_Name}}</td>
                         <td>{{unit.Phase_Name}}</td>
                         <td>{{getTypeNameById(unit.Phase_UnitType_Id)}}</td>
                         <td>{{unit.Blocks_Name}}</td>
                         <td>{{unit.UnitDtls_Name}} / {{unit.phaseType}} No. {{unit.UnitDtls_No}} / {{unit.UnitDtls_Msrmnt}} sq ft / Floor {{unit.UnitDtls_Floor}}</td>
					  </tr>
				   </tbody>
				</table>
			</div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">Done</button>
        </div>
    </script>
<script type="text/ng-template" id="addSiteVisit.html">
        <div class="modal-header">
			<button type="button" class="close" ng-click="ok()">&times;</button>
            <h3 class="modal-title" id="modal-title">Schedule site visit for {{lead.user_first_name}} {{lead.user_middle_name}} {{lead.user_last_name}}</h3>
        </div>
        <div class="modal-body" id="modal-body">
           <form name="addSiteVisitForm" class="form" method="POST" novalidate="novalidate">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
                 <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 labelCntr">
                    <label for="projectName">Select Project</label>
                 </div>
                 <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 padding0">
                    <input type="text" placeholder="Salary Component Name *" class="form-control" id="salaryComponentName" name="salaryComponentName" ng-model="addSalaryComponent.salaryComponentName" ng-required="true" ng-class="{blankInput: addSalaryComponentForm.salaryComponentName.$error.required &amp;&amp; submit}" autofocus/>
                 </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
                 <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 labelCntr">
                    <label for="projectName">Abbreviation / Code</label>
                 </div>
                 <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 padding0">
                    <input type="text" placeholder="Abbreviation / Code *" class="form-control" id="salaryAbbreviation" name="salaryAbbreviation" ng-model="addSalaryComponent.salaryAbbreviation" ng-required="true" ng-class="{blankInput: addSalaryComponentForm.salaryAbbreviation.$error.required &amp;&amp; submit}" autofocus/>
                 </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
                 <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 labelCntr">
                    <label for="projectName">Pay Type</label>
                 </div>
                 <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 padding0">
                    <select class="form-control" name="salaryPayType" ng-model="addSalaryComponent.salaryPayType" ng-required="true" ng-class="{blankInput: addSalaryComponentForm.salaryPayType.$error.required &amp;&amp; submit}">
                       <option value="">
                          Pay Type
                       </option>
                       <option value="1">
                          Earnings
                       </option>
                       <option value="0">
                          Deduction
                       </option>
                    </select>
                 </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
                 <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 labelCntr">
                    <label for="projectName">Tax Status</label>
                 </div>
                 <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 padding0 radioLabel" ng-class="{blankInput: addSalaryComponentForm.salaryTaxStatus.$error.required &amp;&amp; submit}">
                    <input type="radio" name="salaryTaxStatus" ng-model="addSalaryComponent.salaryTaxStatus" ng-required="true" id="taxable" value="0"/>
                    <label for="taxable">Taxable</label>
                    <input type="radio" name="salaryTaxStatus" ng-model="addSalaryComponent.salaryTaxStatus" ng-required="true" id="nonTaxable" value="1"/>
                    <label for="nonTaxable">Non - Taxable</label>
                 </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
                 <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 labelCntr">
                    <label for="projectName">Calculation Type</label>
                 </div>
                 <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 padding0">
                    <select class="form-control" name="salaryCalculationType" ng-model="addSalaryComponent.salaryCalculationType" ng-required="true" ng-class="{blankInput: addSalaryComponentForm.salaryCalculationType.$error.required &amp;&amp; submit}">
                       <option value="">
                          Calculation Type
                       </option>
                       <option value="1">
                          Flat
                       </option>
                       <option value="0">
                          Formula
                       </option>
                    </select>
                 </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
                 <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 labelCntr">
                    <label for="projectName">Value</label>
                 </div>
                 <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 padding0">
                    <input type="text" placeholder="Calculation Value *" class="form-control" id="salaryCalculationValue" name="salaryCalculationValue" ng-model="addSalaryComponent.salaryCalculationValue" ng-required="true" ng-class="{blankInput: addSalaryComponentForm.salaryCalculationValue.$error.required &amp;&amp; submit}" autofocus/>
                 </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
                 <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 labelCntr">
                    <label for="projectName">Part Of Ctc</label>
                 </div>
                 <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 padding0 radioLabel" ng-class="{blankInput: addSalaryComponentForm.salaryPartOfCtc.$error.required &amp;&amp; submit}">
                    <input type="radio" name="salaryPartOfCtc" ng-model="addSalaryComponent.salaryPartOfCtc" ng-required="true" id="salaryPartOfCtcNo" value="0"/>
                    <label for="salaryPartOfCtcNo">No</label>
                    <input type="radio" name="salaryPartOfCtc" ng-model="addSalaryComponent.salaryPartOfCtc" ng-required="true" id="salaryPartOfCtcYes" value="1"/>
                    <label for="salaryPartOfCtcYes">Yes</label>
                 </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
                 <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 labelCntr">
                    <label for="projectName">Component Type</label>
                 </div>
                 <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 padding0 radioLabel" ng-class="{blankInput: addSalaryComponentForm.salaryComponentType.$error.required &amp;&amp; submit}">
                    <input type="radio" name="salaryComponentType" ng-model="addSalaryComponent.salaryComponentType" ng-required="true" id="variableComponent" value="1"/>
                    <label for="variableComponent">Variable Component</label>
                    <input type="radio" name="salaryComponentType" ng-model="addSalaryComponent.salaryComponentType" ng-required="true" id="fixedComponent" value="0"/>
                    <label for="fixedComponent">Fixed Component</label>
                 </div>
              </div>
           </form>
        </div>
    
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="addSiteVisit(addSiteVisit,'addSiteVisitForm')">Schedule Site Visit</button>
        </div>
</script>