<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center pageTitle">
	<h1>Salary Head Listing</h1>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center pageTitle">
	<ol class="breadcrumb">
	  <li><a ui-sref="/">Home</a></li>
	  <li class="active">Salary Head Details</li>
	</ol>	
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right ctaContainer">
	<a ui-sref="/AddSalaryHead" class="btn btn-primary">+ Add New Salary Head</a>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <input type="text" class="form-control marginBottom5 search" placeholder="Search Salary Head" ng-model="searchEmployee"/>
	<table class="table dataTable">
		<thead>
			<tr>
				<th>#</th>
				<th>Salary Head Name</th>
				<th>Salary Head Code</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="x in salaryHeadDetails | filter:searchEmployee track by $index">
				<td>{{$index + 1}}</td>
				<td>{{x.SalHeads_Name}}</td>
				<td>{{x.SalHead_Code}}</td>
				<td><a ui-sref="/EditSalaryHead({ salaryHeadId: {{x.SalHeads_Id}} })"><span class="link">Edit</span></a></td>
			</tr>
		</tbody>
	</table>
</div>